.sidebar-padder{
    background-color:#D0D9F2;
    border:1px solid #0341FC;
    border-radius: 20px;
}
.auth-widget{
    padding-left:10px;
    padding-top:10px;
}
.post-category li{
    display:block;
}
.post-category h4{
   margin-left:45px;
   font-size:20px;
   text-decoration:underline;
}
.post-category li{
    margin-left:20px;
}
.post-category{
    margin:20px 0px 20px 0px;
}
.auth-desc h4{
    font-size:30px;
}
.post-date{
    margin:5px 0 5px 0;
}
.comment-count{
    font-size:15px;
    margin:5px 0 5px 0;
}
comment-count{
    font-size:15px;
    margin:5px 0 5px 0;
}
.post-excerpt h4{
    text-decoration:underline;
}
.post-excerpt p{
    line-height:25px;
}
.featured-image img{
    height:150px;
    width:200px;
    border:1px solid #003FFC;
}
hr{
    width:250px;
    margin-left:0;
}
.author-gravatar img{
    border:1px solid #fff;
    margin-top:10px;
}
.post-title{
    font-size:20px;
}
li{
    list-style:none;
}